# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# VITE_SUPABASE_URL: The URL of your Supabase project
VITE_SUPABASE_URL="https://xzqqfydtjucpvpjwtfcp.supabase.co"

# VITE_SUPABASE_ANON_KEY: The public anon key of your Supabase project
VITE_SUPABASE_ANON_KEY="sb_publishable_XVYbQ2yWVpf6aB6RarVVlQ_ao4ggdSH"
